body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#landingPageDiv {
    width: 100%;
    margin-top: 50px;
    
}

#landingPageDiv img {
    margin-bottom: 30px;
    width: 400px;
    height: 400px;
}

.gameBoard {
    /* opacity: 0.5; */
    background: rgba(184, 188, 189, 0.5);
    margin-top: 50px;
    border: 3px solid #3e2723;
    
}

#title {
    font-family: 'fontdiner + swanky', cursive;
    color:#3e2723;
    padding: 0px 30px 0px 30px;
    border-bottom: 4px solid #3e2723;
}

.startPage {
    background: rgba(184, 188, 189, 0.5);
    margin-top: 50px;
    border: 3px solid #3e2723;
}

#titleStart {
    font-family: 'fontdiner + swanky', cursive;
    color:#3e2723;
    padding: 0px 30px 0px 30px;
    border-bottom: 4px solid #3e2723;
}

#startTitle {
    width: 100%;
}

#question {
    background-color: darkolivegreen;
    width: 100%;
    height: 100px;

}

.option {
    width: 100%;
    height:50px;
    background-color: darkolivegreen;
    padding: 10px 0px 0px 10px;
    border-radius: 30%;
}

.option span {
    color: #3e2723;
    padding-left: 15px;
    font-family: 'fontdiner + swanky', cursive;
    font-size: 20px;
    font-weight: bolder;
    display: i
}


.buttonDiv {
    width: 100%;
    margin-top: 20px;
}

.start-btn {
    width: 230px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 20%;
    background-color: red;
    color: black;
    font-family: 'fontdiner + swanky', cursive;
    font-weight: bold;
    transition: 0.25s ease-in-out;
}

.next-btn {
    width: 200px;
    height: 40px;
    background-color: red;
    font-weight: bold;
    border-radius: 20%;
    transition: 0.25s ease-in-out;
}

.restart-btn {
    width: 230px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 20%;
    background-color: red;
    color: black;
    font-family: 'Fontdiner+Swanky' cursive;
    font-weight: bold;
    transition: 0.25s ease-in-out;
}

button:hover {
    background-color: green;
    color: white;
}

#resultContainerID {
    font-family: 'Fontdiner+Swanky', cursive;
    font-size: 50px;
    font-weight: bold;
    color: #3e2723;
    margin-top: 20px;
    padding: 0px 30px 0px 30px;
    border-bottom: 3px solid #3e2723;
}

#endScreen {
    width: 100%;
    background-color: rgba(184, 188, 189, 0.5);
    border: 3px solid #3e2723;
    margin-top: 20px;
}

#imgEnd {
    width: 100%;
    margin: 10px 0px 0px 0px; 
    text-align: center;
}

#restartButton {
    margin-top: 20px; 
    margin-left: 150px;
}



#quizQuestion {
    font-family: 'Fontdiner+Swanky', cursive;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: darkolivegreen;
    margin-top: 30px;
    height: 50px;
}

.timer {
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 30px;
}

#fail {
    height: 400px;
    width: 400px;
    margin: 20px 0px 0px 160px;

}

